# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter/IPython history
.ipynb_checkpoints/

# Ignore data + Excel files
*.xlsx
exports/
screenshots/

# Ignore system files
.DS_Store
Thumbs.db
